.editor-box {
  position: relative;
  left: 20rem;
}
@media screen and (max-width: 1200px) {
  .editor-box {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .editor-box {
    width: 30%;
  }
}
