@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);
.cardlogo {
  width: 30ch;
  height: 29ch;
  border-radius: 10%;
  opacity: 0.9;
  background-image: url('../../assets/connect_logo.png');
  background-size: cover;
  background-position: center center;
  box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  position: relative;
  top: 0rem;
  left: 5.5rem;
  z-index: 2;
}

.body {
  height: 130vh;
  width: 100vw;
  background-color: #060b26;
  background-size: cover;
  z-index: 1;
}
.cardlogo:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

// .backgroundbody {
//   background-image: url('https://cdn.pixabay.com/photo/2014/09/01/19/39/chess-433071_960_720.jpg');
//   background-repeat: no-repeat;
//   background-size: 130rem;
//   z-index: 1;
// }
// .body {
//   padding: 2rem;
//   background: #f0f2f0; /* fallback for old browsers */
//   background: -webkit-linear-gradient(
//     to right,
//     #000c40,
//     #f0f2f0
//   ); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(
//     to right,
//     #000c40,
//     #f0f2f0
//   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

.slides-box {
  box-sizing: border-box;
  position: relative;
  background-position: center;
}
.mainjumbo {
  height: 31rem;
  width: 30rem;
  border-radius: 30px;
  opacity: 0.8;
  position: relative;
  border: 1px solid black;
  top: 20rem;
  text-align: center;
  box-shadow: 10px 10px 30px 5px black;
  font-size: 20px;
  font-weight: 600;
  font-family: Source Sans Pro;
  left: 50rem;
  box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
button {
  position: relative;
  top: -0.5rem;
}

// .learn {
//   position: relative;
//   z-index: 3;
// }
