.calendar-header {
  box-sizing: border-box;
  height: 10vh;
  width: 50vw;
  position: absolute;
  top: -20rem;
  left: -100px;
  border: 2px solid black;
}

.calendar-is-bordered {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.container {
  top: 20rem;
}

.has-text-white {
  background-color: black;
  position: relative;
  top: -250px;
}
.month {
}
