@import url(https://fonts.googleapis.com/css?family=Patrick+Hand:regular);
.calendar-header {
  box-sizing: border-box;
  height: 10vh;
  width: 60vw;
  position: absolute;
  top: -8rem;
  left: 30px;
  box-shadow: 1px 1px gray;
  border: 1px solid white;
  background-color: aliceblue;
  border-radius: 1%;
}

.calendar-is-bordered {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.container {
  top: 20rem;
}

.has-text-white {
  position: relative;
  top: 20px;
}

.next {
  color: darkblue;
  border: 2px dotted darkblue;
  font-weight: 400;
  letter-spacing: 5px;
  font-family: 'Patrick Hand', cursive;
}

.header-background {
  font-family: 'Patrick Hand', cursive;
}
