.App {
  font-family: sans-serif;
  text-align: center;
  z-index: 1;
}

.bg {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 140vh;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  background-repeat: no-repeat;
  z-index: 1;
}
