@namespace url(http://www.w3.org/1999/xhtml);
@namespace svg url(http://www.w3.org/2000/svg);
@import url(https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css); // body {

// body {
//   height: 100vh;
//   width: 100vw;
//   background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
//   z-index: -1;
// }

.gitgraph {
  height: 10rem;
  width: 70rem;
  position: relative;
  right: -30rem;
}
.gitline {
  position: relative;
  font-size: larger;
  color: gray;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
  right: -60rem;
}
.profile-image {
  height: 10rem;
  width: 10rem;
  position: relative;
  top: 0rem;
  left: -65rem;
  z-index: 1;
}

.email-head {
  position: relative;
  left: -20rem;
}

.repo-search {
  position: relative;
  left: -20rem;
}

@media screen and (max-width: 1200px) {
  .menu {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    width: 30%;
  }
}
